/*MEDIA QUERIES*/

/*BELOW 1424px [89em*16px] (Smaller Laptop [macbook air])*/
@media (max-width: 89em) {
  .gallery-container {
    max-width: 120rem;
  }
  html {
    font-size: 60%;
  }
  .grid--4--cols {
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
  }
  .carousel-track-container {
    height: 52rem;
    width: 80%;
  }
}

/*BELOW 1089 [68rem*16px] (Landscape Tablet Screen)*/
@media (max-width: 68rem) {
  html {
    font-size: 50%;
  }
  .container {
    max-width: 80rem;
  }
  .secondary-heading {
    font-size: 6rem;
  }
  .grid--2--cols {
    grid-template-columns: 36rem 1fr;
  }
  .PS {
    font-size: 1.6rem;
  }
  .carousel-track-container {
    height: 42rem;
  }
  .header {
    padding-top: 2.4rem;
  }
}

/*BELOW 978 [48em*16px] (Landscape Tablet Screen)*/
@media (max-width: 62em) {
  html {
    font-size: 55%;
  }
  .carousel-track-container {
    height: 40rem;
    width: 80%;
  }
}

/*BELOW 768 [48em*16px] (Landscape Tablet Screen)*/
@media (max-width: 48em) {
  html {
    font-size: 48%;
  }
  .navigation {
    margin-bottom: 6.6rem;
  }
  .gallery-container {
    max-width: 95rem;
    margin: 0 auto;
  }
  .grid--4--cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .carousel-track-container {
    height: 38rem;
    width: 80%;
  }
}

/*BELOW 624 [39em*16px] (Landscape Tablet Screen)*/
@media (max-width: 39em) {
  html {
    font-size: 43%;
  }
  .navigation {
    margin-bottom: 5.8rem;
  }
  .container {
    max-width: 80rem;
  }
  .u-bahn-info p,
  .s-bahn-info p {
    font-size: 1.5rem;
  }
  .train-info img {
    height: 16px;
  }
  .hero-section {
    margin-bottom: 4.6rem;
  }

  .hero-section,
  .hero-neukolln h1 {
    letter-spacing: -6px;
    font-size: 11rem;
  }
  .section-item {
    margin-bottom: 4.6rem;
    grid-template-columns: 32rem 1fr;
  }
  /* .section-img{
hei
  } */
  .grid--4--cols {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    row-gap: 4.8rem;
  }
  .gallery-container {
    max-width: 65rem;
  }
  .card-text-box {
    padding: 2.4rem 1rem 1.2rem 0rem;
  }
  .tertiary-heading {
    font-size: 3.2rem;
  }
  a {
    font-size: 1.8rem;
  }
  .carousel-track-container {
    height: 36rem;
  }
}

/*BELOW 528 [33em*16px] (Landscape Tablet Screen)*/
@media (max-width: 33em) {
  html {
    font-size: 35%;
  }
  .hero-section h1,
  .hero-neukolln h1 {
    font-size: 9rem;
    letter-spacing: -3.6px;
  }
  .container {
    max-width: 65rem;
    margin: 0 auto;
  }
  .grid--2--cols {
    grid-template-columns: 1fr;
  }
  .section-item {
    margin-bottom: 2rem;
  }
  .section-item-text-box {
    padding-bottom: 4.8rem;
    text-align: center;
  }
  .secondary-heading {
    text-align: center;
    display: inline;
  }
  .section-item-text {
    padding-top: 1.8rem;
    padding-bottom: 2.4rem;
  }
  .section-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*BELOW 368 [23rem*16px] (Landscape Tablet Screen)*/
@media (max-width: 23rem) {
  .navigation {
    margin-bottom: 2.2rem;
  }
  .button-like {
    padding: 4px 12px;
  }
  .hero-section {
    justify-content: flex-start;
    padding-top: 4rem;
  }
  .hero-section h1,
  .hero-neukolln h1 {
    letter-spacing: -2px;
    font-size: 8rem;
  }
  .hero-section p {
    max-width: 80vw;
  }
  .u-bahn-info p,
  .s-bahn-info p {
    font-size: 1.75rem;
  }
  .train-info img {
    height: 12px;
  }
  .secondary-heading {
    font-size: 8.6rem;
  }
  .card-text-box {
    letter-spacing: 0.4px;
    line-height: 1.75;
  }
  .address a {
    font-size: 13px;
  }
  .carousel-track-container {
    height: 30rem;
    width: 85%;
  }
  .section-img-box:nth-child(2) {
    justify-content: center;
    grid-row: 2;
  }
  .section-item {
    box-shadow: none;
    border-bottom: 1px solid rgba(134, 130, 130, 0.249);
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    gap: 2.8rem;
  }
  .section-item-text-box {
    padding-bottom: 1.2rem;
    gap: 2rem;
  }
  .section-item:last-child {
    border-bottom: none;
  }
  .carousel-nav {
    display: none;
  }
  .section-img {
    max-width: 80%;
  }
}
