* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  padding-top: 3.3rem;
}

/*REUSABLE*/
.grid {
  display: grid;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
}
.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  text-transform: uppercase;
  background-color: #35454b;
  color: #e9ecef;
  text-decoration: none;
  font-weight: 400;
  border-radius: 2px;
  padding: 1.8rem;
  font-size: 2rem;
  display: inline-block;
}

.btn:hover {
  background-color: #546c75;
  color: white;
}

.secondary-heading {
  color: #181f24;
  letter-spacing: -2px;
  font-size: 8rem;
  font-weight: 800;
  padding-bottom: 1.6rem;
  width: 6.2rem;
}

/*NAV*/
.navigation {
  display: flex;
  margin-bottom: 9.6rem;
  justify-content: center;
}

/*HERO*/

.hero-section {
  display: grid;
  background-image: url("ig/hero-img.webp");
  background-size: cover;
  gap: 4.8rem;
  padding: 2rem 0 7.2rem 0;
  max-width: 100%;
  justify-items: center;
  margin-bottom: 6.4rem;
}

.hero-section h1 {
  font-size: 12.8rem;
  color: #181f24;
  font-weight: 900;
  letter-spacing: -8px;
}

.hero-section p {
  background-image: none;
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.9px;
  max-width: 50vw;
}

.kiez {
  align-self: flex-start;
  font-size: 2.4rem;
  font-weight: 900;
}

/*NEIGHBOURHOODS*/

.section-item {
  margin-bottom: 9.6rem;
  padding: 4.8rem 3.2rem 4.8rem 4.8rem;
  border-radius: 2px;
  box-shadow: 0px 1px 40px 0px rgba(202, 205, 207, 0.5);
}

.section-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-img {
  max-width: 70%;
  transition: all 0.4s;
  border-radius: 2px;
}

.section-img:hover {
  transform: scale(1.1);
}

.section-item-text-box {
  max-width: 50rem;
}

.section-item-text {
  font-size: 1.8rem;
  color: #181f24;
  letter-spacing: 0.6px;
  line-height: 1.5;
  padding-bottom: 4.2rem;
}

/*NEIGHBOURHOODS*


*/
footer {
  font-size: 12px;
  text-align: center;
  padding: 45px;
}

/*MEDIA QUERIES*/

/*BELOW 1344px [84em*16px] (Smaller Laptop)*/

@media (max-width: 84em) {
  .container {
    max-width: 90rem;
  }
}

/*BELOW 1072 [67em*16px] (Landscape Tablet Screen)*/

@media (max-width: 67em) {
  .container {
    max-width: 80rem;
  }
  html {
    font-size: 60%;
  }
  .secondary-heading {
    font-size: 6rem;
  }
}

/*BELOW 768 [48em*16px] (Landscape Tablet Screen)*/
@media (max-width: 48em) {
  html {
    font-size: 50%;
  }
}

/*BELOW 624 [39em*16px] (Landscape Tablet Screen)*/
@media (max-width: 39em) {
  html {
    font-size: 45%;
  }
  .hero-section h1 {
    letter-spacing: -6px;
    font-size: 11rem;
  }
}

/*BELOW 528 [33em*16px] (Landscape Tablet Screen)*/
@media (max-width: 33em) {
  html {
    font-size: 40%;
  }
  .hero-section h1 {
    font-size: 9rem;
    letter-spacing: -4px;
  }
  .container {
    max-width: 60rem;
    margin: 0 auto;
    margin-bottom: 4rem;
  }
  .grid--2--cols {
    grid-template-columns: 1fr;
  }
  .section-item-text-box {
    padding-bottom: 4.8rem;
    text-align: center;
  }
  .secondary-heading {
    text-align: center;
    display: inline;
  }
  .section-item-text {
    padding-top: 1rem;
    padding-bottom: 1.8rem;
  }
  .hero-section p {
    max-width: 65vw;
  }
}

/*BELOW 380 [20em*16px] (Landscape Tablet Screen)*/
@media (max-width: 23em) {
  .hero-section h1 {
    letter-spacing: -3px;
    font-size: 7.6rem;
  }
  .hero-section p {
    max-width: 80vw;
  }
  .hero-section {
    gap: 3.2rem;
  }
}
