* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

/*REUSABLE*/
.grid {
  display: grid;
}
.container {
  max-width: 100rem;
  margin: 0 auto;
}
.gallery-container {
  margin: 0 auto;
  padding: 3.2rem;
  padding-top: 0;
}
.grid--2--cols {
  grid-template-columns: 54rem 1fr;
}
.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 3.2rem;
  column-gap: 4rem;
}
.btn {
  text-transform: uppercase;
  background-color: #35454b;
  color: #e9ecef;
  text-decoration: none;
  font-weight: 400;
  border-radius: 2px;
  padding: 1.8rem;
  font-size: 2rem;
  display: inline-block;
}

.btn:hover {
  background-color: #546c75;
  color: white;
}
a {
  font-size: 1.8rem;
  font-weight: 600;
  color: #35454b;
  text-decoration: none;
}
a:hover {
  /* box-shadow: inset 285px 0 0 0 #35454b;
  color: white;
  padding: 4px;
  border-radius: 2px; */
  color: #181f24;
  font-weight: 700;
}
.secondary-heading {
  color: #181f24;
  letter-spacing: -2px;
  font-size: 8rem;
  font-weight: 800;
  padding-bottom: 1.6rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tertiary-heading {
  color: #181f24;
  letter-spacing: -0.5px;
  font-size: 2.8rem;
  font-weight: 800;
  text-overflow: ellipsis;
  letter-spacing: 0.9px;
}
p {
  color: #181f24;
}
footer {
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.2rem;
  margin-top: 3.2rem;
  display: flex;
  gap: 4px;
}

.footer-icon {
  display: flex;
}

/*NAV*/
.navigation {
  display: flex;
  margin-bottom: 9.6rem;
  justify-content: center;
}

.button-like {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 25px;
  padding: 8px 24px;
  border: none;
  background-color: #dbe9f5;
  cursor: pointer;
}
.like--button {
  display: flex;
  flex-direction: row-reverse;
  padding: 2rem 2rem 0 0;
}
.heart {
  font-size: 1.8rem;
  color: #36444b;
}
.count-number {
  color: #36444b;
  font-size: 16px;
  font-weight: bold;
}

.sticky-nav .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 9rem;
  padding-top: 1rem;
  padding-bottom: 0;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.97);
}
.sticky-nav .hero {
  margin-top: 120px;
}

/*HERO*/

.hero-section {
  display: grid;
  background-image: url("ig/hero-img.webp");
  background-size: cover;
  gap: 4.8rem;
  padding: 2rem 0 7.2rem 0;
  max-width: 100%;
  justify-items: center;
  margin-bottom: 6.4rem;
}
.hero-section h1 {
  font-size: 12.8rem;
  color: #181f24;
  font-weight: 900;
  letter-spacing: -8px;
}
.hero-section p {
  background-image: none;
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.9px;
  max-width: 50vw;
}
.PS {
  font-size: 1.6rem;
  line-height: 1;
  background-color: white;
}
.kiez {
  align-self: flex-start;
  font-size: 2.4rem;
  font-weight: 900;
}

/*NEIGHBOURHOODS*/
.section-item {
  margin-bottom: 9.6rem;
  padding: 4.8rem 4.8rem 4.8rem 4.8rem;
  border-radius: 2px;
  box-shadow: 0px 1px 40px 0px rgba(202, 205, 207, 0.5);
}
.section-img-box {
  display: flex;
  align-items: center;
  justify-content: end;
}
.section-img {
  max-width: 90%;
  transition: all 0.4s;
  border-radius: 2px;
}
.section-img:hover {
  transform: scale(1.1);
}
.section-item-text {
  font-size: 1.8rem;
  color: #181f24;
  letter-spacing: 0.6px;
  line-height: 1.5;
  padding-bottom: 2.4rem;
}
/*NEIGHBOURHOODS**/

/*KIEZ GENERAL*/

.kiez-intro {
  margin: 0 auto;
  line-height: 1.5;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.9px;
  max-width: 65vw;
  padding: 3.2rem 4.8rem 6.2rem 4.8rem;
}
.train-info {
  gap: 6px;
  display: grid;
}
.train-info p {
  font-size: 1.4rem;
}
.u-bahn-info,
.s-bahn-info {
  display: flex;
  gap: 4px;
  align-items: center;
}
.train-info img {
  height: 24px;
}
.card {
  display: grid;
  flex-direction: row;
  grid-template-rows: 1fr 1.15fr 0.25fr;
  padding: 2rem;
  transition: all 0.3s;
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1;
}
.card:hover {
  box-shadow: 0px 5px 80px 0px rgba(97, 97, 97, 0.1);
}
.address {
  display: flex;
  align-items: center;
  gap: 4px;
  transition: all 0.3s;
}
.card-img {
  width: 100%;
  border-radius: 2px;
  display: block;
}
.card-text-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 2.4rem 1rem 1rem 1.2rem;
  letter-spacing: 0.4px;
}
.location-icon {
  font-size: 2.4rem;
}

/*NEUKOLLN*/

.hero-neukolln {
  background-image: url("ig/NK-hero.png");
  gap: 4rem;
}

.hero-kreuzberg {
  background-image: url("ig/kz-hero.png");
}

/* .carousel-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.carousel-card img {
  max-width: 640px;
  max-height: 420px;
  /* background-color: green;
}

.view-port {
  max-width: 640px;
  max-height: 420px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  display: flex;
  margin-bottom: 4.8rem;
} */

/* body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #23E3C9;
} */

.slider {
  display: flex;
  width: 640px;
  height: 420px;
  border-radius: 10px;
  overflow: hidden;
  margin: 4rem auto;
}

.slides {
  width: fit-content;
  display: flex;
}

.slides input {
  display: none;
}

.carousel-card {
  width: 20%;
  transition: all 0.9s;
}

/* .slide img{
  max-width: 640px;
  max-height: 420px;
} */

.navigation-manual {
  position: absolute;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.9s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: black;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

#radio5:checked ~ .first {
  margin-left: -80%;
}
#radio6:checked ~ .first {
  margin-left: -100%;
}

/* css for automatic navigation
 */

#prev {
  top: 50%;
  left: 5px;
  position: absolute;
  z-index: 1;
  transform: translateY(-50%);
  border: none;
  padding: 1rem;
  cursor: pointer;
  background-color: #ffffffe0;
  border-radius: 4px;
}

#next {
  top: 50%;
  position: absolute;
  right: 5px;
  z-index: 1;
  transform: translateY(-50%);
  border: none;
  padding: 1rem;
  cursor: pointer;
  background-color: #ffffffe0;
  border-radius: 4px;
}

ion-icon {
  font-size: 2.8rem;
}
