* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  padding-top: 3.2rem;
}

/*REUSABLE*/
.grid {
  display: grid;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

.gallery-container {
  margin: 0 auto;
  padding: 3.2rem;
  padding-top: 0;
}
.grid--2--cols {
  grid-template-columns: 54rem 1fr;
}
.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 3.2rem;
  column-gap: 4rem;
}

.btn {
  text-transform: uppercase;
  background-color: #35454b;
  color: #e9ecef;
  text-decoration: none;
  font-weight: 400;
  border-radius: 2px;
  padding: 1.8rem;
  font-size: 2rem;
  display: inline-block;
}

.btn:hover {
  background-color: #546c75;
  color: white;
}

.secondary-heading {
  color: #181f24;
  letter-spacing: -2px;
  font-size: 8rem;
  font-weight: 800;
  padding-bottom: 1.6rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

p {
  color: #181f24;
}
/*NAV*/
.navigation {
  display: flex;
  margin-bottom: 9.6rem;
  justify-content: center;
}

/*HERO*/

.hero-section {
  display: grid;
  background-image: url("ig/hero-img.webp");
  background-size: cover;
  gap: 4.8rem;
  padding: 2rem 0 7.2rem 0;
  max-width: 100%;
  justify-items: center;
  margin-bottom: 6.4rem;
}

.hero-section h1 {
  font-size: 12.8rem;
  color: #181f24;
  font-weight: 900;
  letter-spacing: -8px;
}

.hero-section p {
  background-image: none;
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.9px;
  max-width: 50vw;
}

.kiez {
  align-self: flex-start;
  font-size: 2.4rem;
  font-weight: 900;
}

/*NEIGHBOURHOODS*/

.section-item {
  margin-bottom: 9.6rem;
  padding: 4.8rem 4.8rem 4.8rem 4.8rem;
  border-radius: 2px;
  box-shadow: 0px 1px 40px 0px rgba(202, 205, 207, 0.5);
}

.section-img-box {
  display: flex;
  align-items: center;
  justify-content: end;
}

.section-img {
  max-width: 90%;
  transition: all 0.4s;
  border-radius: 2px;
}

.section-img:hover {
  transform: scale(1.1);
}

.section-item-text {
  font-size: 1.8rem;
  color: #181f24;
  letter-spacing: 0.6px;
  line-height: 1.5;
  padding-bottom: 2.4rem;
}

.PS {
  font-size: 1.6rem;
  line-height: 1;
  background-color: white;
}

/*NEIGHBOURHOODS**/
footer {
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 3.2rem;
}

/*NEUKOLLN*/

.hero-neukolln {
  background-image: url("ig/NK-hero.png");
  gap: 4rem;
}

.train-info {
  gap: 6px;
  display: grid;
}
.train-info p {
  font-size: 1.4rem;
}

.u-bahn-info,
.s-bahn-info {
  display: flex;
  gap: 4px;
  align-items: center;
}

.train-info img {
  height: 24px;
}

.card {
  display: grid;
  flex-direction: row;
  grid-template-rows: 1fr 1.5fr 0.25fr;
  padding: 2rem;
  transition: all 0.3s;
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1;
}

.card:hover {
  box-shadow: 0px 5px 80px 0px rgba(97, 97, 97, 0.1);
}

.address {
  display: flex;
  align-items: center;
  gap: 4px;
  transition: all 0.3s;
}

a {
  font-size: 1.4rem;
  font-weight: 600;
  color: #35454b;
  text-decoration: none;
}

a:hover {
  /* box-shadow: inset 285px 0 0 0 #35454b;
  color: white;
  padding: 4px;
  border-radius: 2px; */
  color: #181f24;
  font-weight: 700;
}

.card-img {
  width: 100%;
  border-radius: 2px;
  display: block;
}

.card-text-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 2.4rem 1rem 1rem 1.2rem;
  letter-spacing: 0.4px;
}

.tertiary-heading {
  color: #181f24;
  letter-spacing: -0.5px;
  font-size: 2.4rem;
  font-weight: 800;
  text-overflow: ellipsis;
  letter-spacing: 0.9px;
}

.kiez-intro {
  margin: 0 auto;
  line-height: 1.5;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.9px;
  padding: 3.2rem 4.8rem 6.2rem 4.8rem;
}

.location-icon {
  font-size: 2.4rem;
}

.sticky-nav .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 9rem;
  padding-top: 1rem;
  padding-bottom: 0;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.97);
}
.sticky-nav .hero {
  margin-top: 120px;
}
